<ion-header>
  <ion-navbar>
    <ion-title *ngIf="original != null">{{ original.title }}</ion-title>
    <ion-title *ngIf="original == null">No Photo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #form="ngForm" *ngIf="photo">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" [(ngModel)]="photo.title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="photo.description" name="description"></ion-textarea>
    </ion-item>
  </form>
</ion-content>

<ion-footer class="footer__button-bar">
  <button class="footer__button-bar__button" color="danger" ion-button icon-left (click)="reset()" [disabled]="!form || (form && form.pristine)">
    <ion-icon name="refresh"></ion-icon>
    Reset
  </button>
  <button class="footer__button-bar__button" color="secondary" ion-button icon-left (click)="save()" [disabled]="!form || (form && form.pristine)">
    <ion-icon name="cloud-done"></ion-icon>
    Done
  </button>
</ion-footer>
